In [1]:
points = 174 # use this input to make your submission
result = 'You won '

if points>0 and points<=50:
    result+='wooden rabbit'
elif points<=150:
    result+='no prize'
elif points<=180:
    result+='water-thin mint'
elif points<=200:
    result+='penguin'

print(result)

You won water-thin mint

In [3]:
answer = 9
guess = int(input("Take a guess: "))
if guess<answer:
 result = "Oops! Your guess was too low."
elif guess>answer:
 result = "Oops! Your guess was too high."
elif guess == answer:
 result = "Nice! Your guess matched the answer!"

print(result)

Take a guess: 9
Nice! Your guess matched the answer!

In [4]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]
for s in sentence:
    print(s)

the
quick
brown
fox
jumped
over
the
lazy
dog

In [6]:
for i in range(5, 31, 5):
    print(i)

5
10
15
20
25
30

In [8]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [i.split(' ')[0] for i in names]
print(first_names)

['Rick', 'Morty', 'Summer', 'Jerry', 'Beth']

In [9]:
for i in range(3, 3*21, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60

In [10]:
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }
passed = [n for n,s in scores.items() if s>=65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [11]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = {i: j for i,j in zip(cast_names, cast_heights)}
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [15]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby",
"Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
for i,n in enumerate(cast):
    cast[i] = cast[i] + ' ' + str(heights[i])
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']